

/**/
.banner-container{
    position: relative;
    max-width:1280px;
    height: 596px;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
}

.banner-section{
    position: absolute;
    top: 0;
    height: 100%;
    width: 60px;
}

.banner-section.left{
    left: 10px;
    width: 61px;
    border-right: 1px solid #FFFFFF;
}
.banner-section.right{
    right: 0px;
    border-left: 1px solid #FFFFFF;
}

.banner-section.middle{
    width: 60px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.right-content{
    width: 60px;
}

.banner-section.middle{
    left: 640px;
    width: 60px;

}
.banner-deco-bar.green.middle{
    position: absolute;
    width: 55px;
    top: 0;
    left: 600px;
    height: 100%;
    background-color: #97963e;
    opacity: .75;

}
.banner-deco-bar.green.left{
    position: absolute;
    width: 10px;
    top: 0;
    left: 0px;
    height: 100%;
    background-color: #97963e;
    opacity: .75;

}
.banner-deco-bar.green.right{
    position: absolute;
    width: 10px;
    top: 0;
    left: 1270px;
    height: 100%;
    background-color: #97963e;
    opacity: .75;
    z-index: 2;

}
.left-content{
    background-color: #786086;
}

.banner-bar.middle{
    background-color: #435077;
}

.banner-bar.right{
    background-color: #637D97;
}

.banner-section-content{
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    color: #FFFFFF;
    display: block;
    opacity: .85;
}
.middle-content{
    background-color: #445D7A;
}

.right-content{
    background-color: #637D97;
}

.banner-section-inner-content{
    display:none;
    transition: all 0.4s ease;
}

.banner-section-content > div > h3{
    font-size: 30px;
    /*font-size: 2.7em !important;*/
    line-height: 1.1em;
    letter-spacing: 0.04em;
    margin-bottom: 0.8em;
}

.banner-section-content > div > p{
    font-size: 20px;
    font-size: 1em;
}
.banner-section-inner-content > p > a {
    padding:12px 30px 12px 30px;
    border: 1px #FFFFFF solid;
    border-radius: 8px;
    text-decoration: none;
    background: transparent;
    color: #FFFFFF;
    float: right;
    text-transform: uppercase;
}

.banner-section-inner-content > p > a:hover {
    background: #FFFFFF;
    color: #3d3d3d;
}
.banner-section-inner-content{
    padding: 20px 40px 20px 40px;
    display: none;

}

.banner-section-inner-content.showMe{
	opacity: 1;
}

.grow-with-image{
    position: absolute;
    width: 223px;
    top: 0;
    left: 1057px;
    height: 100%;
    background-position: 75%;
}

.mobile-banner-container{
    width: 768px;
    height: 358px;
    background-size: cover;

}


@media screen and (max-width: 768px){
    .banner-container{
        display:none;
    }
}
